
body
{
  margin-left: 2em;
  margin-right: 2em;
  border: 0px;
  padding: 0px;
  font-family: Georgia,sans-serif;
}

.done { color: #005500; background-color: #99ff99 }
.notdone { color: #550000; background-color: #ff9999;}

pre
{
  padding: 1em;
  font-family: "Courier New", Courier, monospace;
  font-size: 16pt;
  border: thin black solid;
}

.boxed
{
  padding: 1em;
  border: thin black solid;
}

.shell
{ 
  background-color: #ffffdd;
}

.python
{
  background-color: #dddddd;
}

.htmlsource
{
  background-color: #dddddd;
}

.py-prototype
{
  background-color: #ddddff;
}


.python-interpreter
{
  background-color: #ddddff;
}

.doit 
{
  border: thin blue dashed ;
  background-color: #0ef
}

.py-src-comment
{
  color: #1111CC
}

.py-src-keyword
{
  color: #3333CC;
  font-weight: bold;
}

.py-src-parameter
{
  color: #000066;
  font-weight: bold;
}

.py-src-identifier
{
  color: #CC0000
}

.py-src-string
{
  
  color: #115511
}

.py-src-endmarker
{
  display: block; /* IE hack; prevents following line from being sucked into the py-listing box. */
}

.py-listing 
{
  margin: 1ex;
  border: thin solid black;
  background-color: #eee;
}

.py-listing pre
{
  margin: 0px;
  border: none;
  border-bottom: thin solid black;
}

.py-listing .python 
{
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  border-bottom: thin solid black;
  }

.py-listing .htmlsource
{
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  border-bottom: thin solid black;
  }

.py-caption
{
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.py-filename
{
  font-style: italic;
  }

.manhole-output
{
  color: blue;
}

ul
{
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1em;
  }

li
{
  padding: 5px;
  }

dt
{
  font-weight: bold;
  margin-left: 1ex;
  }

dd
{
  margin-bottom: 1em;
  }

div.note
{
  background-color: #FFFFCC;
  margin-top: 1ex;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1ex;
  padding-left: 5%;
  padding-right: 5%;
  border: thin black solid;
}
